POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=avito_db

AVITO_PHONE_NUMBER=+7 000 000-00-00
AVITO_PASSWORD=XXXXXXXXX

ACCOUNT_NAME_FOR_CHAT_LISTEN=Рушан

BACKEND_PORT=4000