POSTGRES_HOST=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=avito_db

AVITO_PHONE_NUMBER=+7 000 000-00-00
AVITO_PASSWORD=XXXXXXXXX

ACCOUNT_NAME_FOR_CHAT_LISTEN=Рушан
VITE_ME_NAME=Игорь

BACKEND_HOST=backend
BACKEND_PORT=4000

VITE_API_URL=https://festively-regal-humpback.cloudpub.ru

FRONTEND_HOST=127.0.0.1
FRONTEND_PORT=3000